.section-hero {
  position: relative;
  height: 600px;
  max-width: 1600px;
  margin: 0px auto;
  background-size: auto 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/bg-image.jpg);
}

.section-hero__title {
  font-family: Roboto;
  font-weight: 900;
  padding-top: 200px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-hero__title-color {
  color: white;
}
.title-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.btn__title-position {
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  &:focus,
  &:hover {
    cursor: pointer;
    background: var(--hover-color);
  }
}
